@import url("index.css");

body {
  position : relative;
  z-index : 0;
}

#contact_modal {
  display: none;
  background-color: white;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 auto;
  width : 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.photographer_info article h2 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  margin-bottom: 0;
}

.photographer_info article h3 {
  color: #901c1c;
  font-size: 13px;
  text-align: center;
  margin-bottom: 0;
}

.photographer_info article p {
  color: black;
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 5%;
  left: 25%;
  right: 25%;
}

.modal header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

.modal header h2 {
  margin: 0;
}

.modalHeaderText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  justify-content: space-between;
}

.modalHeaderText h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
}

.modalHeaderImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  justify-content: space-between;
}

.modalHeaderImage img {
  cursor: pointer;
  margin-bottom: 70px;
}

.photographer_picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form #messageArea {
  border-radius: 5px;
  border: none;
}

/* 
    I       I   IIIII   III     IIIIIII         III
    II     II   I       I  I       I           I   I
    I I   I I   III     I   I      I          I     I
    I  I I  I   I       I   I      I         IIIIIIIII
    I   I   I   I       I  I       I        I         I
    I       I   IIIII   III     IIIIIII    I           I
     */

#medias {
  width: 85%;
  margin: 0 auto;
  position : relative;
}

.filterSection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.filterContainer {
  border-radius: 10px;
  background-color: #901c1c;
  color: white;
  width: 150px;
  position: relative;
}

.filterResult {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.face_down {
  transform: rotate(180deg);
}

.filters {
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
  background-color: #901c1c;
  color: white;
  width: 150px;
  position: absolute;
  top: 50px;
}

.filter {
  border-top: 1px solid white;
  padding: 20px;
}

.hidden {
  display: none;
}

.media_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 100px;
}

.media_section a {
  width: 30%;
  min-width: 350px;
  transition: 0.3s;

}
.media_section a:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.media_section a .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.media_section a .likeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 15%;
}

.media_section a .textContainer h3 {
    color: #901C1C;
    font-size: 18px;
    width : 85%;
}

.media_section a p {
    color: #901C1C;
    font-size: 18px;
}

.media_section a i {
    color: #901C1C;
    font-size: 18px;
    text-align: right;
}

.media_section a img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin : 0 auto;
}

.media_section a video {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin : 0 auto;
}

.statistics {
  position : fixed;
  right : 0%;
  bottom : 0%;
  z-index : 9;
  background-color: #db8876;
  border-radius: 5px;
  color : black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width : 400px;
  line-height: 31.5px;
}

.statistics .likeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statistics p {
  font-size: 24px;
  margin : 10px;
}

::-webkit-scrollbar {width : 7px;}

::-webkit-scrollbar-track {
  background: #fff;
  padding : 1px;
}

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}
/*//////////////////////////////////////////////////////////////////////////*/
/* TODO !! */
.lightBox {
  position : fixed;
  top : 0;
  left : 0;
  width : 0%;
  height : 100%;
  background-color : rgba(0, 0, 0, .1);
  z-index : 11;
  overflow : auto;
  animation : lightBoxIn .5s;
  transition: opacity .3s;
}

.lightBox .fade {
  opacity : 0;
  z-index: 0;
}

.lightBox .lightBoxNext,
.lightBox .lightBoxPrev {
    background : url("../assets/icons/Vector.svg") center center / 100% 100%;
    width : 30px;
    height : 48px;
    position : fixed;
    top : 50%;
    margin-top : -24px;
    z-index : 11;
    right : 0;
  }

  .lightBox .lightBoxPrev {
    right : 100%;
    left : 0;
    transform : rotate(180deg);
  }
  
  .lightBox .lightBoxClose {
    width : 42px;
    height : 42px;  
    margin-top : -21px;
    background : url("../assets/icons/close.svg") center center / 100% 100%;
    position : fixed;
    top : 20px;
    right : 20px;
    z-index : 11;
  }
  .lightBox button {  
    opacity : 0.5;
    cursor : pointer;
    transition : opacity .3s;
    text-indent : -3000px;
    border : none;
  }

.lightBox button:hover {
  opacity : 1;
}

/* .lightBox .lightBoxLoader {
  width: 40px;
  height: 40px;
  background : url("../assets/icons/my-loader.svg") center center / 100% 100%;
  position : absolute;
  top : 20px;
  left : 20px;
  bottom : 20px;
  right : 20px;
  z-index : 11;
} */

.lightBox .lightBoxImage {
  display : flex;
  align-items : center;
  justify-content : center;  
  margin-left: 50%;
  margin-right: 50%;
  min-height : 100vh;
  position : relative;
  z-index : 10;
  animation : lightBoxIn .5s;
  overflow: hidden;
  max-height : 100%;
  width : auto;
}

.lightBox .lightBoxImage img {
  position : absolute;
  top : 20px;
  left : 20px;
  bottom : 20px;
  right : 20px;

}

.lightBox .lightBoxImage video {
  max-width : 100%;
  min-height : 100px;
  width: auto;
  position : absolute;
  top : 20px;
  left : 20px;
  bottom : 20px;
  right : 20px;
}

.lightBox .lightBoxMediaTitle {
  color: #901C1C;
  font-size: 18px;
  width : 85%;
  position : absolute;
  left : 45%;
  bottom : 20%;
  z-index : 11;
} 

@keyframes lightBoxIn {
  from {opacity : 0;}
  to {opacity : 1;}
}