@import url("index.css");

#contact_modal {
  display: none;
  background-color: white;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 auto;
  width : 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.photographer_info article h2 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  margin-bottom: 0;
}

.photographer_info article h3 {
  color: #901c1c;
  font-size: 13px;
  text-align: center;
  margin-bottom: 0;
}

.photographer_info article p {
  color: black;
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 5%;
  left: 25%;
  right: 25%;
}

.modal header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

.modal header h2 {
  margin: 0;
}

.modalHeaderText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  justify-content: space-between;
}

.modalHeaderText h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
}

.modalHeaderImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  justify-content: space-between;
}

.modalHeaderImage img {
  cursor: pointer;
  margin-bottom: 70px;
}

.photographer_picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form #messageArea {
  border-radius: 5px;
  border: none;
}

/* 
    I       I   IIIII   III     IIIIIII         III
    II     II   I       I  I       I           I   I
    I I   I I   III     I   I      I          I     I
    I  I I  I   I       I   I      I         IIIIIIIII
    I   I   I   I       I  I       I        I         I
    I       I   IIIII   III     IIIIIII    I           I
     */

#medias {
  width: 85%;
  margin: 0 auto;
  position : relative;
}

.filterSection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.filterContainer {
  border-radius: 10px;
  background-color: #901c1c;
  color: white;
  width: 150px;
  position: relative;
}

.filterResult {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.face_down {
  transform: rotate(180deg);
}

.filters {
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
  background-color: #901c1c;
  color: white;
  width: 150px;
  position: absolute;
  top: 50px;
}

.filter {
  border-top: 1px solid white;
  padding: 20px;
}

.hidden {
  display: none;
}

.media_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 100px;
}

.media_section article {
  width: 30%;
  min-width: 350px;
  transition: 0.3s;

}
.media_section article:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.media_section article .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.media_section article .likeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 15%;
}

.media_section article h3 {
    color: #901C1C;
    font-size: 18px;
    width : 85%;
}

.media_section article p {
    color: #901C1C;
    font-size: 18px;
}

.media_section article i {
    color: #901C1C;
    font-size: 18px;
    text-align: right;
}

.media_section article img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin : 0 auto;
}

.media_section article video {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin : 0 auto;
}

.statistics {
  position : fixed;
  right : 0%;
  bottom : 0%;
  z-index : 99999;
  background-color: #db8876;
  border-radius: 5px;
  color : black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width : 400px;
  line-height: 31.5px;
}

.statistics .likeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statistics p {
  font-size: 24px;
  margin : 10px;
}
/*

*/